.friendMessage {
}

.friendImageAndText {
  display: flex;
  flex-direction: row;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.friendText {
    position: relative;
    background-color: #0066cc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 35px 8px 13px;
  }
  
  .friendText::after {
    content: "";
    position: absolute;
    top: 44px;
    right: 332px;
    border-bottom: 10px solid #0066cc;
    border-left: 20px solid transparent;
  }

.friendName {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.friendMessageText {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}

.friendTime {
  color: #000;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}
